.lazyDone {
    width: 191px;
    height: 49px;
    text-decoration: none;
    margin-left: 1030px;
    position: absolute;
}

.twitter {
    width: 35px;
    text-decoration: none;
    background: rgb(24, 159, 24);
}

.packat {
    width: 35px;
    height: 35px;
}

.in {
    width: 35px;
    height: 35px;
}

.instagram {
    width: 35px;
    height: 35px;
}

.phone {
    width: 35px;
    height: 35px;
}